$primary-color: #444;
$secondary-color: #eece1a;
*{
    box-sizing: border-box;
}

body{
    background-color: $primary-color;
    color: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
    
}

h1, h2, h3{
    margin: 0;
    font-weight: 400;

    &.h1-big-text{
        font-size: 4rem;

    }
    &.h2-small-text{
        padding: 10px 10px 20px 10px;
        background: rgba(lighten($color: $primary-color, $amount: 2)0.5);
    }
}

body a {
    color: #fff;
    text-decoration: none;
}